nav{
    display: flex;
    list-style-type:none;
    justify-content: space-around;
    background-color:rgb(26, 103, 185) ;
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    
}
.link{
    background-color: rgb(26, 103, 185);
    text-decoration:none;
    color:rgb(0, 0, 0) ;
}
.link:hover{
    color:rgb(214, 241, 9);
}
